# Database connection string

# Asgardeo M2M credentials (to call SCIM management APIs)
Wso2__AdminUsername=
Wso2__AdminPassword=
Wso2__M2mClientId=
Wso2__M2mClientSecret=

# Asgardeo SPA Client ID and Authority
Jwt__Audience=
Jwt__Authority=



Wso2__InternalApi__ClientId=
Wso2__InternalApi__ClientSecret=
Wso2__InternalApi__Audience=
Wso2__InternalApi__TokenEndpoint=
Wso2__InternalApi__Scope=
Wso2__InternalApi__RequiredScope=

PayHere__MerchantId=
PayHere__MerchantSecret=
PayHere__AppId=
PayHere__AppSecret=


EmailJS__ApiUrl=
EmailJS__ServiceId=
EmailJS__TemplateId=
EmailJS__PublicKey=
EmailJS__PrivateKey=


Cors__AllowedOrigins=

AdmissionToken__PrivateKeyPem=
AdmissionToken__PublicKeyPem=

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=